#menu-account{}

ul > li{
  padding:7px;
}

.dropdown-menu >li{
  visibility: hidden;
  background-color: #ffffff;
  padding: 10px;
  float: none !important;
}

#menu-account > ul > li:hover{
  background-color: #ffffff;
}

#menu-account > ul > li:hover>a{
  color: #888;
}

ul > li:hover .dropdown-menu >li{
  visibility: visible;
}

#menu-account ul > li{
  color: #000000;
}